# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
s3fs
tweepy
requests
dotenv
time
datetime

# utilities
six>=1.14
joblib
memoized-property
termcolor
os

# web scraping
bs4
requests
python-dotenv

#scraping
selenium

# preprocessing
string
nltk.stem
nltk.corpus
re
emoji

# model
tensorflow_hub
transformers
torch

# front-end
streamlit
base64
PIL


# visualization
wordcloud
mplcyberpunk
plotly.graph_objects
plotly.express
matplotlib.pyplot
